{% extends "bootstrap/base.html" %}
{% block title %}Data Download{% endblock %}

{% block content %}
<div class="container">

    {# Display logo #}
    <div>
        <img
                src="{{ url_for('static', filename=resources.LOGO) }}"
                class="center-block img-responsive mx-auto d-block"
                alt="DLU Logo"
        >
    </div>

    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">

    {# If the error value is set, display the error in red text #}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {# If the message value is set, display the message in green text #}
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}

    <p>Hello! <strong>You probably don't need to be here.</strong> If you've just created an account, you can close this webpage and log in to the server using the game client.</p>
    <p>If you don't have the client set up yet, you'll need to find a copy of the game and make some changes specific to this server. Ask in #gaming on Slack or Discord for details.</p>

    {# Form which takes in Character Name #}
    <form action="{{ url_for('data_download') }}" method="post">
        {# Account Name input #}
        <div class="form-group">
            <label for="character_name">Character Name</label>
            <input type="text" class="form-control" name="character_name" placeholder="Enter username...">
            <small class="form-text text-muted">Full character name.</small>
        </div>

        {# Submit button #}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Export character XML</button>
        </div>
    </form>
    <p class="text-muted">AccountManager is AGPLv3. Source is available at <a href="https://github.com/sersorrel/AccountManager">https://github.com/sersorrel/AccountManager</a>.</p>
    </div>
    <div class="col-lg-3">
    </div>
    </div>
</div>
{% endblock %}
